<%- include('partials/header') %>

    <div class="container">
        <div class="jumbotron centered">


      

            <form action="/submit" method="POST">
                <% for(i = 1 ; i < 301 ; i++){ %>
                <% var bool = true %>
                    <%  arr.forEach(element => { %>
                        <% if(element == i){ %>
                            <input type="radio" checked value=true name=<%="j" + i %>>
                            <label for="number"><%="s" + i %></label>
                            <% bool = false %>
                        <% } %> 
                    <% });%> 
                    <% if(bool){ %>
                       <input type="radio" value=true name=<%="j" + i %>>
                        <label for="sushi"><%="s" + i %></label>
                        
                    <% } %> 
                <% } %> 
                <button type="submit">Enter</button>
            </form>

        </div>
    </div>
    <%- include('partials/footer') %>