<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Statistics</title>
</head>

<body style="background:#C4E1E7">
  <div class="h-100 row align-items-center">
    <div class="col-12 text-center pt-5 mt-5 pb-1 mb-1">



      <h2>Daily Score</h2>
      <h2 classs="m-5"><%= daily.toFixed(2) %></h2>
    </div>
    <div class="col-12 text-center ">
      <div class="pt-5 mt-5 pb-1 mb-1 border">
        <h2>Hundred day</h2>
      </div>

      <div>
        <h2><%= hundredDays[0].toFixed(2) %>%</h2>
        <h2><%= hundredDays[1].toFixed(2) %>%</h2>
        <h2><%= hundredDays[2].toFixed(2) %>%</h2>
        <h2><%= hundredDays[3].toFixed(2) %>%</h2>
        <h2><%= hundredDays[4].toFixed(2) %>%</h2>
      </div>

      <div class="pt-5 mt-5 pb-1 mb-1 border">
        <h2>Overall</h2>
        <h1><%= ((hundredDays[0] + hundredDays[1]+hundredDays[2]+hundredDays[3]+hundredDays[4])/5).toFixed(2) %>%</h1>
      </div>
    </div>

  </div>

</body>

</html>