<%- include('partials/header') %>

<div class="container  ">
  <h3> <a href="/khatam/ciknis_pipau">aliffanis&hearts;</a> </h3>
  <div class="jumbotron  centered">
    <div>

      <h4>
        "The month of Ramadhan [is that] in which was revealed the Qur'an, a guidance for the people and clear proofs of
        guidance and criterion. So whoever sights [the new moon of] the month, let him fast it; and whoever is ill or on
        a journey - then an equal number of other days. Allah intends for you ease and does not intend for you hardship
        and [wants] for you to complete the period and to glorify Allah for that [to] which He has guided you; and
        perhaps you will be grateful."[2:185]
      </h4>
    </div>

    <form action="/khatam" method="POST">
      <% for(i = 1 ; i < 301 ; i++){ %>

      <% var bool = true %>
      <%  arr.forEach(element => { %>
      <% if(element == i){ %>
      <input type="checkbox" class="option-input checkbox" checked value=true name=<%="j" + i %>>
      <label class="mr-4" for="number"><%="set " + i %></label>
      <% if(i%5==0){ %>
      <br />
      <% if(i%10==0){ %>
      <h3>day <%= i/10 %></h3>
      <br />
      <br />
      <% } %>
      <% } %>
      <% bool = false %>
      <% } %>
      <% });%>
      <% if(bool){ %>
      <input type="checkbox" class="option-input checkbox" value=true name=<%="j" + i %>>
      <label class="mr-4" for="number"><%="set " + i %></label>
      <% if(i%5==0){ %>
      <br />
      <% if(i%10==0){ %>
      <h3>day <%= i/10 %></h3>
      <br />
      <br />
      <br />
      <% } %>
      <% } %>
      <% } %>
      <% } %>
      <button class="btn btn-outline-success btn-lg" type="submit">UPDATE</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>